
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}
header {
    width: 100%;
    background-color: #1c242f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    position: relative;
}

.Thub {
    width: 200px;
    height: 67px;
    background-size: cover;
}

nav {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: 0.3s ease-in;
    position: relative;
    right: 330px;
}

nav a:hover {
    color: #008738;
}

.login {
    background-color: #008738;
    color: white;
    height: 40px;
    width: 90px;
    text-align: center;
    border-radius: 6px;
    margin-top: 10px;
}

.login span {
    line-height: 40px;
}

.menu {
    color: white;
    font-size: 30px;
    display: none;
}

.images {
    background-color: #020b17;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    position: relative;
}

.trainedimg {
    width: 100%;
    max-width: 520px;
    height: auto;
    padding-left: 0;
    padding-top: 0;
}

.girlsimg {
    width: 100%;
    max-width: 610px;
    height: auto;
    position: relative;
    top: 0;
}

.shape2 {
    width: 180px;
    height: 180px;
    position: absolute;
    right: 150px;
    bottom: 290px;
    display: none;
}

.card {
    height: 140px;
    width: 90%;
    max-width: 350px;
    border-radius: 8px;
    background-color: white;
    position: relative;
    bottom: 270px;
    margin-left: 240px;
    margin-top: 20px;
}
@media (min-width: 1200px) {
    .shape2 {
        display: block;
    }
}

/* For tablets and below */
@media (max-width: 1200px) {
    .menu {
        display: block;
    }

    nav {
        display: none;
    }

    nav.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
}

/* For very small screens */
@media (max-width: 480px) {
    .trainedimg,
    .girlsimg {
        padding-left: 0;
        padding-top: 0;
        width: 100%;
    }

    .login {
        width: 100%;
    }

    nav a {
        font-size: 14px;
    }

    .menu {
        margin-top: 10px;
    }
}